@using Cataloguer.Models
@model ViewObject

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center">@Model.Heading</h2>
    </div>
    <div class="panel-body">
        @if (Model.MusicObjects.Count == 0)
        {
            <h4 class="text-center">@Model.NoElementsMessage</h4>
        }
        else
        {
            <div id="@Model.ContainerId" class="flex-container">
                @foreach (MusicObject musicObject in Model.MusicObjects)
                {
                    <a class="@Model.PanelCssClass" href="@musicObject.PageLink">
                        <div class="panel-heading">
                            <p class="text-center">@musicObject.Name</p>
                        </div>
                        <div class="panel-body">
                            <img class="img-rounded center-block" src="@musicObject.PictureLink" />
                        </div>
                        @if (musicObject.ArtistName != null || musicObject.Listeners != null)
                        {
                            <div class="panel-footer">
                                @if (musicObject.ArtistName != null)
                                {
                                    <p>
                                        <span class="glyphicon glyphicon-user"></span>    @musicObject.ArtistName
                                    </p>
                                }
                                @if (musicObject.Listeners != null)
                                {
                                    <p>
                                        <span class="glyphicon glyphicon-headphones"></span>    @musicObject.Listeners
                                    </p>
                                }
                            </div>
                        }      
                    </a>
                }
            </div>
            <button id="@Model.ButtonId" class="btn btn-primary center-block">More</button>
        }
    </div>
</div>