@using Cataloguer.Models
@model Artist
@{
    ViewBag.Title = Model.Name;
}

<h1 class="text-center"><img src="@Model.PictureLink"/>    @Model.Name</h1>
<h4>Scrobbles : @Model.Scrobbles</h4>
<h4>Listeners : @Model.Listeners</h4>
<h4>
    Tags :
    @foreach (string tag in Model.Tags)
    {
        <code>@tag</code>
    }
</h4>
<p>
    <h4>Biography :</h4>
    @Model.ShortBiography
    @Html.ActionLink("See full biography", "ArtistBiography", "Home",
        new { artistName = Model.Name, artistPictureLink = Model.PictureLink, artistProfileLink = Model.ProfileLink }, new { })
</p>
<h2 class="text-center">Top tracks</h2>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Listeners</th>
            <th>Scrobbles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Track track in Model.Tracks ?? new List<Track>())
        {
            <tr>
                <td>@track.Rank</td>
                <td>@track.Name</td>
                <td>@track.Listeners</td>
                <td>@track.Scrobbles</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("More tracks...", "ArtistAllTracks", "Home",
    new { artistName = Model.Name, artistPictureLink = Model.PictureLink, artistProfileLink = Model.ProfileLink }, new { })
<h2 class="text-center">Top albums</h2>
<table class="table table-hover table-striped table-bordered">
    <tbody>
        @foreach (Album album in Model.Albums ?? new List<Album>())
        {
            <tr>
                <td>@Html.ActionLink(album.Name, "Album", "Home", new { albumName = album.Name, artistName = Model.Name }, new { })</td>
                <td><img height="150" src="@album.PictureLink"/></td>
                <td>@album.Scrobbles</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("More albums...", "ArtistAllAlbums", "Home",
    new { artistName = Model.Name, artistPictureLink = Model.PictureLink, artistProfileLink = Model.ProfileLink }, new { })
