@using Cataloguer.Models
@model Artist
@{
    ViewBag.Title = Model.Name;
}

<h1 class="text-center">
    <img class="img-thumbnail" src="@Model.GetPictureLink()" />    @Html.ActionLink(Model.Name,
                                   "ArtistProfile", "Home", new { name = Model.Name }, new { })
</h1>
<h2 class="text-center">Top tracks of all time</h2>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Listeners</th>
        </tr>
    </thead>
    <tbody id="results">
        @foreach (Track track in Model.Tracks)
        {
            <tr>
                <td>@track.Rank</td>
                <td>@Html.ActionLink(track.Name, "Track", "Home", 
                   new { trackName = track.Name, artistName = Model.Name }, new { })</td>
            <td>@track.GetListeners()</td>
        </tr>
        }
    </tbody>
</table>
<img id="loading" class="center-block" src="~/Content/loading.gif" />
<script>
$(this).on('scroll', scrolling);
var page = 2;
function scrolling() {
    if ($(this).scrollTop() >= ($('table').height() - $(this).height() - 100)){
        $(this).unbind('scroll');
        $.ajax({
            beforeSend: function () {
                $('#loading').css('display', 'block');
            },
            url: '/Home/ArtistTracks',
            data: {
                name: '@Model.Name',
                page: page
            },
            success: function (data) {
                $('#loading').css('display', 'none');
                $('#results').append(data);
                $(window).on('scroll', scrolling);
                page++;
            }
        });
    }
}
</script>
