@using Cataloguer.Models
@model Artist
@{
    ViewBag.Title = Model.Name;
}

<h1 class="text-center">
    <img class="img-thumbnail" src="@Model.GetPictureLink()" />    @Html.ActionLink(Model.Name,
                                   "ArtistProfile", "Home", new { name = Model.Name }, new { })
</h1>
<h2 class="text-center">Top albums of all time</h2>
<div class="flex-container">
    @foreach (Album album in Model.Albums)
    {
        <a class="panel panel-success" href="/Home/Album?albumName=@album.Name&artistName=@Model.Name">
            <div class="panel-heading">
                <p class="text-center">@album.Name</p>
            </div>
            <div class="panel-body">
                <img class="img-rounded center-block" src="@album.GetPictureLink()" />
            </div>
            <div class="panel-footer">
                <span class="glyphicon glyphicon-headphones"></span>    @album.GetScrobbles()
            </div>
        </a>
    }
</div>
