@using Cataloguer.Models
@model Artist
@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <img width="100%" class="img-thumbnail" src="@Model.GetPictureLink()" />
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
        <h1 class="text-center">@Model.Name</h1>
        @Html.Partial("PartialTags", Model.Tags)
        <h4>Scrobbles : @Model.GetScrobbles()</h4>
        <h4>Listeners : @Model.GetListeners()</h4>
        @if (Model.GetShortBiography() != " ")
        {
            <p>@Model.GetShortBiography()</p>
            <p>@Html.ActionLink("See more...", "ArtistBiography", "Home", new { name = Model.Name }, new { })</p>
        }  
    </div>
</div>
<h2 class="text-center">Top tracks</h2>
<div class="flex-container">
    @Html.Partial("PartialTracksInPanels", Model.Tracks)
</div>
@if (Model.Tracks.Count > 9)
{
    @Html.ActionLink("More tracks...", "ArtistAllTracks", "Home", new { name = Model.Name }, new { })
}
<h2 class="text-center">Top albums</h2>
<div class="flex-container">
    @Html.Partial("PartialAlbums", Model.Albums)
</div>
@if (Model.Albums.Count > 7)
{
    @Html.ActionLink("More albums...", "ArtistAllAlbums", "Home", new { name = Model.Name }, new { })
}
