@using Cataloguer.Models
@model Artist
@{
    ViewBag.Title = Model.Name;
}

<h1 class="text-center"><img src="@Model.PictureLink"/>    @Model.Name</h1>
<h4>Scrobbles : @Model.Scrobbles</h4>
<h4>Listeners : @Model.Listeners</h4>
<h4>
    Tags :
    @foreach (string tag in Model.Tags)
    {
        <code>@tag</code>
    }
</h4>
<h2 class="text-center">Top tracks for 7 days</h2>
<table class="table table-hover table-striped table-bordered">
    <tbody>
        @foreach (Track track in Model.Tracks ?? new List<Track>())
        {
            <tr>
                <td>@track.Rating</td>
                <td>@track.Name</td>
                <td>@track.Listeners</td>
            </tr>
        }
    </tbody>
</table>
<h2 class="text-center">Top albums</h2>
<table class="table table-hover table-striped table-bordered">
    <tbody>
        @foreach (Album album in Model.Albums ?? new List<Album>())
        {
            <tr>
                <td>@album.Name</td>
                <td><img height="200" src="@album.PictureLink"/></td>
                <td>@album.Listeners</td>
            </tr>
        }
    </tbody>
</table>
