@using Cataloguer.Models
@model Artist
@{
    ViewBag.Title = Model.Name;
}

<h1 class="text-center">
    <img class="img-thumbnail" src="@Model.GetPictureLink()" />    @Html.ActionLink(Model.Name,
                                   "ArtistProfile", "Home", new { name = Model.Name }, new { })
</h1>
<h2 class="text-center">Top albums of all time</h2>
<div class="flex-container">
    @foreach (Album album in Model.Albums)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="text-center">@Html.ActionLink(album.Name, "Album", "Home", 
                   new { albumName = album.Name, artistName = Model.Name }, new { })</p>
            </div>
            <div class="panel-body">
                <img class="center-block" src="@album.GetPictureLink()" />
            </div>
            <div class="panel-footer">
                <span class="glyphicon glyphicon-headphones"></span>    @album.GetScrobbles()
            </div>
        </div>
    }
</div>
