@using Cataloguer.Models
@model Artist
@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4"><img width="100%" class="img-thumbnail" src="@Model.PictureLink" /></div>
    <div class="col-sm-8 col-md-8 col-lg-8">
        <h1 class="text-center">@Model.Name</h1>
        <h5>
            @foreach (string tag in Model.Tags)
            {
                <code>@tag</code>
            }
        </h5>
        <h4>Scrobbles : @Model.Scrobbles</h4>
        <h4>Listeners : @Model.Listeners</h4>
        @if (Model.ShortBiography != " ")
        {
            <p>@Model.ShortBiography</p>
            <p>@Html.ActionLink("See full biography", "ArtistBiography", "Home", 
                    new { artistName = Model.Name }, new { })</p>
        }  
    </div>
</div>
<h2 class="text-center">Top tracks</h2>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Listeners</th>
            <th>Scrobbles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Track track in Model.Tracks ?? new List<Track>())
        {
            <tr>
                <td>@track.Rank</td>
                <td>@track.Name</td>
                <td>@track.Listeners</td>
                <td>@track.Scrobbles</td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Tracks.Count > 10)
{
    @Html.ActionLink("More tracks...", "ArtistAllTracks", "Home",
        new { artistName = Model.Name, artistPictureLink = Model.PictureLink }, new { })
}
<h2 class="text-center">Top albums</h2>
<div class="flex-container">
    @foreach (Album album in Model.Albums ?? new List<Album>())
    {
        <div class="panel panel-default" style="flex-basis: 23%">
            <div class="panel-heading">
                <p style="white-space: nowrap" class="text-center">
                    @Html.ActionLink(album.Name, "Album", "Home",
                        new { albumName = album.Name, artistName = Model.Name }, new { })
                </p>
            </div>
            <div class="panel-body"><img class="center-block" src="@album.PictureLink" /></div>
            <div class="panel-footer"><span class="glyphicon glyphicon-headphones"></span>    @album.Scrobbles</div>
        </div>
    }
</div>
@if (Model.Albums.Count > 10)
{
    @Html.ActionLink("More albums...", "ArtistAllAlbums", "Home",
        new { artistName = Model.Name, artistPictureLink = Model.PictureLink }, new { })
}
