@using Cataloguer.Models
@model Artist
@{
    ViewBag.Title = Model.Name;
}

<h1 class="text-center">
    <img class="img-thumbnail" src="@Model.PictureLink" />    @Html.ActionLink(Model.Name, "ArtistProfile", "Home",
                                                             new { name = Model.Name }, new { })
</h1>
<h2 class="text-center">Top tracks of all time</h2>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Listeners</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Track track in Model.Tracks ?? new List<Track>())
        {
            <tr>
                <td>@track.Rank</td>
                <td>@track.Name</td>
                <td>@track.Listeners</td>
            </tr>
        }
    </tbody>
</table>
