@using Cataloguer.Models
@model SearchingResults
@{
    ViewBag.Title = ViewBag.SearchingValue;
}

<h1 class="text-center">@ViewBag.SearchingValue</h1>
@if (Model.Artists.Count == 0)
{
    <h2 class="text-center">There are no artists with this name</h2>
}
else
{
    <h2 class="text-center">Artists</h2>
    <div class="flex-container">
        @foreach (Artist artist in Model.Artists)
        {
            <a class="panel panel-success" href="/Home/ArtistProfile?name=@artist.Name">
                <div class="panel-heading">
                    <p class="text-center">@artist.Name</p>
                </div>
                <div class="panel-body">
                    <img class="img-rounded center-block" src="@artist.GetPictureLink()" />
                </div>
            </a>
        }
    </div>
}
@if (Model.Albums.Count == 0)
{
    <h2 class="text-center">There are no albums with this name</h2>
}
else
{
    <h2 class="text-center">Albums</h2>
    <div class="flex-container">
        @foreach (Album album in Model.Albums)
        {
            <a class="panel panel-success" href="/Home/Album?albumName=@album.Name&artistName=@album.Artist.Name">
                <div class="panel-heading">
                    <p class="text-center">@album.Name</p>
                </div>
                <div class="panel-body">
                    <img class="img-rounded center-block" src="@album.GetPictureLink()" />
                </div>
                <div class="panel-footer">
                    <span class="glyphicon glyphicon-user"></span>    @album.Artist.Name
                </div>
            </a>
        }
    </div>
}
@if (Model.Tracks.Count == 0)
{
    <h2 class="text-center">There are no tracks with this name</h2>
}
else
{
    <h2 class="text-center">Tracks</h2>
    <div class="flex-container">
        @foreach (Track track in Model.Tracks)
        {
            <a class="panel panel-success" href="/Home/Track?trackName=@track.Name&artistName=@track.Artist.Name">
                <div class="panel-heading">
                    <p class="text-center">@track.Name</p>
                </div>
                <div class="panel-body">
                    <img class="img-rounded center-block" src="@track.GetPictureLink()" />
                </div>
                <div class="panel-footer">
                    <span class="glyphicon glyphicon-headphones"></span>    @track.GetListeners()
                </div>
            </a>
        }
    </div>
}
