@using Cataloguer.Models
@model SearchingResults
@{
    ViewBag.Title = ViewBag.SearchingValue;
    List<MusicObject> musicObjects = new List<MusicObject>();
}

<h1 class="text-center">@ViewBag.SearchingValue</h1>
@{ 
    foreach(Artist artist in Model.LastFMArtists)
    {
        MusicObject musicObject = new MusicObject
        {
            Name = artist.Name,
            PageLink = "/Home/ArtistProfile?name=" + artist.Name,
            PictureLink = artist.GetPictureLink()
        };
        musicObjects.Add(musicObject);
    }
}
@Html.Partial("SearchPartialView", new ViewObject
{
    Heading = "Last.fm artists",
    NoElementsMessage = "There are no artists in last.fm with this name",
    ContainerId = "artists",
    PanelCssClass = "panel panel-success",
    MusicObjects = musicObjects,
    ButtonId = "addArtists"
});
@{
    musicObjects.Clear();
    foreach (Album album in Model.LastFMAlbums)
    {
        MusicObject musicObject = new MusicObject
        {
            Name = album.Name,
            PageLink = "/Home/Album?albumName=" + album.Name + "&artistName=" + album.Artist.Name,
            PictureLink = album.GetPictureLink(),
            ArtistName = album.Artist.Name
        };
        musicObjects.Add(musicObject);
    }
}
@Html.Partial("SearchPartialView", new ViewObject
{
    Heading = "Last.fm albums",
    NoElementsMessage = "There are no albums in last.fm with this name",
    ContainerId = "albums",
    PanelCssClass = "panel panel-success",
    MusicObjects = musicObjects,
    ButtonId = "addAlbums"
});
@{
    musicObjects.Clear();
    foreach (Track track in Model.LastFMTracks)
    {
        MusicObject musicObject = new MusicObject
        {
            Name = track.Name,
            PageLink = "/Home/Track?trackName=" + track.Name + "&artistName=" + track.Artist.Name,
            PictureLink = track.GetPictureLink(),
            ArtistName = track.Artist.Name,
            Listeners = track.GetListeners()
        };
        musicObjects.Add(musicObject);
    }
}
@Html.Partial("SearchPartialView", new ViewObject
{
    Heading = "Last.fm tracks",
    NoElementsMessage = "There are no tracks in last.fm with this name",
    ContainerId = "tracks",
    PanelCssClass = "panel panel-success",
    MusicObjects = musicObjects,
    ButtonId = "addTracks"
});
@{
    musicObjects.Clear();
    foreach (Artist artist in Model.LocalArtists)
    {
        MusicObject musicObject = new MusicObject
        {
            Name = artist.Name,
            PageLink = "/Local/ArtistProfile?name=" + artist.Name,
            PictureLink = artist.GetPictureLink()
        };
        musicObjects.Add(musicObject);
    }
}
@Html.Partial("SearchPartialView", new ViewObject
{
    Heading = "Local artists",
    NoElementsMessage = "There are no artists in local database with this name",
    ContainerId = "localArtists",
    PanelCssClass = "panel panel-info",
    MusicObjects = musicObjects,
    ButtonId = "addLocalArtists"
});

@{
    musicObjects.Clear();
    foreach (Album album in Model.LocalAlbums)
    {
        MusicObject musicObject = new MusicObject
        {
            Name = album.Name,
            PageLink = "/Local/Album?albumName=" + album.Name + "&artistName=" + album.Artist.Name,
            PictureLink = album.GetPictureLink(),
            ArtistName = album.Artist.Name
        };
        musicObjects.Add(musicObject);
    }
}
@Html.Partial("SearchPartialView", new ViewObject
{
    Heading = "Local albums",
    NoElementsMessage = "There are no albums in local database with this name",
    ContainerId = "localAlbums",
    PanelCssClass = "panel panel-info",
    MusicObjects = musicObjects,
    ButtonId = "addLocalAlbums"
});
@{
    musicObjects.Clear();
    foreach (Track track in Model.LocalTracks)
    {
        MusicObject musicObject = new MusicObject
        {
            Name = track.Name,
            PageLink = "/Home/Local?name=" + track.Artist.Name,
            PictureLink = track.GetPictureLink(),
            ArtistName = track.Artist.Name,
            Listeners = track.GetListeners()
        };
        musicObjects.Add(musicObject);
    }
}
@Html.Partial("SearchPartialView", new ViewObject
{
    Heading = "Local tracks",
    NoElementsMessage = "There are no tracks in local database with this name",
    ContainerId = "localTracks",
    PanelCssClass = "panel panel-info",
    MusicObjects = musicObjects,
    ButtonId = "addLocalTracks"
});
<script>
    var artistPage = 2;
    $('#addArtists').click(function () {
        LoadNew('/Home/SearchArtists', artistPage, '#artists');
    });
    var albumsPage = 2;
    $('#addAlbums').click(function () {
        LoadNew('/Home/SearchAlbums', albumsPage, '#albums');
    });
    var tracksPage = 2;
    $('#addTracks').click(function () {
        LoadNew('/Home/SearchTracks', tracksPage, '#tracks');
    });

    function LoadNew(url, page, blockId) {
        $.ajax({
            url: url,
            data: {
                value: '@ViewBag.SearchingValue',
                page: page
            },
            success: function (data) {
                $(blockId).append(data);
                page++;
            }
        });
    };
</script>
