@using Cataloguer.Models
@model Track
@{
    ViewBag.Title = Model.Name;
}

<h1 class="text-center">@Model.Name</h1>
<div class="row">
    @if (Model.Album != null)
    {
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h2 class="text-center">Album</h2>
            <div class="panel panel-default" style="flex-basis: 23%">
                <div class="panel-heading">
                    <p style="white-space: nowrap" class="text-center">
                        @Html.ActionLink(Model.Album.Name, "Album", "Home",
                        new { albumName = Model.Album.Name, artistName = Model.Artist.Name }, new { })
                    </p>
                </div>
                <div class="panel-body">
                    <img class="center-block" src="@Model.Album.GetPictureLink()" />
                </div>
            </div>
        </div>
    }
    <div class="col-sm-8 col-md-8 col-lg-8">
        <h1></h1>
        <h5>
            @foreach (string tag in Model.Tags)
            {
                <code>@tag</code>
            }
        </h5>
        <h4>Artist : @Html.ActionLink(Model.Artist.Name, "ArtistProfile", "Home",
                    new { name = Model.Artist.Name }, new { })
        </h4>
        <h4>Scrobbles : @Model.GetScrobbles()</h4>
        <h4>Listeners : @Model.GetListeners()</h4>
        <p>@Model.GetInfo()</p>
    </div>
</div>
