@model Track
@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <img width="100%" class="img-thumbnail" src="@Model.PictureLink" />
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
        <h1 class="text-center">@Model.Name</h1>
        @Html.Partial("_TagList", Model.Tags)
        <h4>Artist : <a asp-controller="Home" asp-action="Artist" asp-route-name="@Model.Artist.Name">@Model.Artist.Name</a></h4>
        @if (Model.Album != null)
        {
            <h4>
                Album : <a asp-controller="Home" asp-action="Album" asp-route-albumName="@Model.Album.Name"
                           asp-route-artistName="@Model.Artist.Name">@Model.Album.Name</a>
            </h4>
        }
        <h4>Scrobbles : @Model.Scrobbles</h4>
        <h4>Listeners : @Model.Listeners</h4>
        <p>@Model.Info</p>
        @if (!String.IsNullOrWhiteSpace(Model.LinkToAudio))
        {
            <audio controls src="@Model.LinkToAudio"></audio>
        }
    </div>
</div>
